body{
    width: auto;
    height: 100px;
    background-color: coral;
    border: coral;
    margin-top: 40px; 
    margin-left: 200px;
    align-items: center;
}



#div-table {
    width: 300px;
    height: 60vh;
    border-radius: 10px;
    border: 2px solid teal; 
}

 #table {
    margin-left:50px;
}

h1 {
  color: whitesmoke;
}

tr {
   color: whitesmoke;
}

tr:hover{
  color:teal;
}

.the-btn {
    margin-left:50px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid green;
    background-color: teal;
    font-family: Georgia, 'Times New Roman', Times, 
    serif;
    color: white;
}

.image-div {
    display: block;
    text-align: center;
}

.the-image {
    width: 20px;
    border-radius: 5px;
    z-index: 2;
}
.hidden {
  display: none;
}
